.footer{
    background: #404149;
    padding: 30px 0 30px;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media screen and (max-width:1170px){
                justify-content: space-around;
        }

        &-description{
            font: 400 16px Open Sans;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
}
